<div class="container">
  <section>
      <div class="row">
        <div class="six columns title">
          <h4>A - Z Stock Exchange</h4>
        </div>
        <div class="six columns symbol">
          <input id="lookup"
                 #symbol
                 type="text"
                 value=""
                 placeholder="Enter Symbol">
          <button class="button-primary" (click)="onSymbolLookup(symbol.value)">Lookup</button>
          <p id="error-message"></p>
        </div>
      </div>

      <div class="row">
        <div class="six columns card">
            <input class="card-header name" #stockName value="{{stock.name}}" readonly/>
            <input class="card-header" #stockSym value="{{stock.symbol}}" readonly/>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input #BID
                               value="{{stock.bidPrice}}"
                               type="number"
                               readonly/>
                    </td>
                    <td>
                        <input #ASK
                               value="{{stock.askPrice}}"
                               type="number"
                               readonly/>
                    </td>
                </tr>
                </tbody>
            </table>
          <button class="button-primary"
                  (click)="onSell(stockSym.value, stockName.value, BID.value, ASK.value, stockQuantity.value)">Sell
          </button>
          <button class="button-primary"
                  (click)="onBuy(stockSym.value, stockName.value, BID.value, ASK.value, stockQuantity.value)">Buy
          </button>
          <input id="quantityStock"
                 #stockQuantity
                 type="number"
                 min="0"
                 value=""
                 placeholder="Quantity"/>
          <p id="message"></p>
        </div>
        <div class="six columns portfolio">
          <h4>Current Portfolio</h4>
          <h5>Cash: {{cash | currency: 'USD':true}}</h5>
            <table>
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Qty</th>
                    <th colspan="2">Price Paid</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let holding of Portfolio;">
                    <td>
                        {{holding.stock.name}}
                        <input type="hidden" value="{{holding.stock.name}}" />
                        <input #stockSymbol type="hidden" value="{{holding.stock.symbol}}" />
                    </td>
                    <td>
                        <input value="{{holding.quantity}}"
                               readonly/>
                    </td>
                    <td>
                        <input value="{{holding.value | number:'1.2'}}"
                               readonly/>
                    </td>
                    <td>
                        <button class="button-primary"
                                (click)="onViewLookup(stockSymbol.value)">
                                View
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
  </section>
</div>

